/* Basic Styling */
.quiz-container {
  font-family: 'Poppins', sans-serif; /* Choose a modern font */
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.quiz-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Search Bar */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

button {
  background-color: #007bff; /* Example button color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Question Styling */
.question-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
}

/* Keyword Container */
.keyword-container, .tags-search-container {
  display: flex; /* Arrange items horizontally */
  align-items: center; /* Vertically center items */
  justify-content: center;
  margin-bottom: 20px; /* Add some space below */
}

.keyword-container input[type="text"], .tags-search-container input[type="text"] {
  flex-grow: 0.7; /* Input takes up available space */
  margin-right: 10px; /* Space between input and button */
}

.question-page {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  margin-bottom: 15px;
}

.answer-choices label {
  display: block;
  margin-bottom: 5px;
}

/* Observations Section */
.tooltip-container {
  position: relative; /* For tooltip positioning */
}

.tooltip-container input[type="text"] {
  width: 100%;
}

/* Example Tooltip Styling (customize as needed) */
.tooltip-container:hover::after {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1;
}

.tag-adder {
  margin-top: 1rem;
}

.tags {
  display: flex; /* Enable flexbox for wrapping */
  flex-wrap: wrap;
  margin-top: 10px; /* Add some space above the tags */
}

.tags span {
  background-color: #663399; /* Purple background for tags */
  color: #fff;               /* White text color */
  padding: 5px 10px;       /* Add padding */
  margin: 5px;               /* Add margin for spacing */
  border-radius: 20px;     /* Rounded corners for the pill shape */
  font-size: 14px;
  font-weight: 500;         /* Slightly bolder font weight */
}

@media (max-width: 768px) { 
  .quiz-container {
    font-size: 16px;
  }
}